{% extends "base.html" %}

{% block pagetitle %} Shopping List {% endblock %}

{% block content %}
	<table class="table">
	<tr>
		<th></th>
		<th>Item</th>
		<th>Price</th>
		<th>Quantity</th>	
	</tr>
	    {% for key, value in shopping_list.iteritems() %}
	    	<tr>
		    	<td><a href="/shopping-list?item_name={{key}}"><button type="submit">+1</button></a><input type="hidden" value="{{key}}" name="{{key}}"></td>
		    	<td>
		    		{{ key }}
		    	</td>
		    	<td>
		    		{{value["price"]}}
		    	</td>
		    	<td>
		    		{{ value["quantity"]}}
		    	</td>
	    	</tr>
	    {% endfor %}
	    	<tr>
	    		<td>Total</td>
	    		<td></td>
	    		<td></td>
	    		<td>{{total}}</td>
	    	</tr>
    </table>

{% endblock %}